body {
    background: linear-gradient(to bottom, lightblue, white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#calculator-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}